.App {
  text-align: center;
}


.navbar {
  background: #390065;
}


.card-img-top {
  max-width: 100px !important;
}

.listsHeader {
  background: #601a97;
}

.addProductIcon {
  font-size: 48px !important;

}

.routerLInk {
  color: #fff;
}

.listsHeader {
  color: white;
}

.search-item {
  position: relative;
  color: #fff;
  margin-left: 3.75rem;
  margin-top: 0.9375rem;
}

/* line 1075, ../../sass/pages/static.scss */
.search-item input {
  color: #fff;
  background: none;
  border: 0;
  border-bottom: solid 1px #fff;
  width: 11.75rem;
  padding: 0 0 0.3rem 1.8125rem;
  height: 1.75rem;
  margin-bottom: 0;
}

/* line 1086, ../../sass/pages/static.scss */
.search-item span {
  position: absolute;
  top: -0.125rem;
  left: 0;
}

/* line 1092, ../../sass/pages/static.scss */
.search-item ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

/* line 1096, ../../sass/pages/static.scss */
.search-item ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

/* line 1100, ../../sass/pages/static.scss */
.search-item :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

/* line 1104, ../../sass/pages/static.scss */
.search-item :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}